body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
}
p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    text-align: justify;
    text-decoration: underline;
    text-transform: lowercase;
    text-shadow: 0px 0px 10px #F05;
    color: blue;
    display: inline-block;

}
#para{
    color: aqua;
}
img{
    border: 2px solid #F04;
    /* border-radius: 50%; */
    float: right;
    margin-right: 20px;
    padding: 3px;
}